http://dani-belle.com:8002 {
  redir https://dani-belle.com:4443
}

https://dani-belle.com:4443 {
  tls {
    dns cloudflare axMrjihPJ_xm4feZmtSpTdp-ADaHjZAcuW3IyETj
    resolvers 8.8.8.8
  }

  log {
    output file /var/log/caddy/dani-belle.com-access
  }
  reverse_proxy /api/v1/* api:1323
  reverse_proxy sk:3000
}

http://dasebelle.com:8002 {
  redir https://dasebelle.com:4443
}

https://dasebelle.com:4443 {
  tls {
    dns cloudflare axMrjihPJ_xm4feZmtSpTdp-ADaHjZAcuW3IyETj
    resolvers 8.8.8.8
  }

  log {
    output file /var/log/caddy/dasebelle.com-access
  }
  reverse_proxy /api/v1/* api:1323
  reverse_proxy sk:3000
}

